@import "Variables";

html, body {
  //background-color: $secondary;
}

.v-application {
  &.v-theme--light {
    //background-color: $secondary;
  }
}

.events-overview {
  //background-color: $secondary;
}



// GRADIENT TEXTS
:root {
  --gradient-text-positive: linear-gradient(
    120deg,
    color-mix(in srgb, rgb(var(--v-theme-primary)) 0%, #1DE9B6 100%),
    color-mix(in srgb, rgb(var(--v-theme-primary)) 0%, #00B8D4 100%)
  );

  --gradient-text-negative: linear-gradient(
                  120deg,
                  color-mix(in srgb, rgb(var(--v-theme-primary)) 0%, #E65100 100%),
                  color-mix(in srgb, rgb(var(--v-theme-primary)) 0%, #BF360C 100%)
  );
}

// GRADIENT TEXTS
.gradient-text-positive {
  color: inherit;

  @supports (--css: variables) {
    background: var(--gradient-text-positive);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.gradient-text-negative {
  color: inherit;

  @supports (--css: variables) {
    background: var(--gradient-text-negative);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// CUSTOM CARD LIGHT SHADOWS
.shadow-light {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15) !important;
}