/*======== DEMO COLORS ========*/
$primary: #26A5EA;
$secondary: #535E81;
$accent: #00caca;
$error: #FF3739;
$info: #9bd020;
$success: #00D014;
$warning: #FFB70F;

// TOP TURQUOISE
// teal-accent-3
$teal-accent-3: #1DE9B6 !default;

// MID TURQUOISE
// teal-accent-4
$teal-accent-4: #00BFA5;

// BOTTOM BLUE
// cyan-accent-4
$cyan-accent-4: #00B8D4;


//
// orange-darken-4
$orange-darken-4: #E65100;

//
// deep-orange-accent-4
$deep-orange-accent-4: #DD2C00;

//
// deep-orange-darken-4
$deep-orange-darken-4: #BF360C;